.collaborator-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 20px; /* Adjust the gap between items as needed */
}

.collaborator {
    text-align: center;
}

.collaborator img {
    max-height: 18vh; /* Adjust the image width as needed */
    border-radius: 8px;
}

.collaborator-name {
    font-weight: bold;
    margin-bottom: 8px;
}

.collaborator-position {
    font-style: italic;
    margin-bottom: 10px;
}

.wy-side-nav-search {
    background-color: #0fbbbb;
}

/* .wy-menu-vertical {
    color: #0fbbbb;
} */

body .wy-nav-side p.caption {
    color: #0fbbbb;
}